Source: synergy
Section: x11
Priority: optional
Maintainer: Joshua Honeycutt <joshua.honeycutt@gmail.com>
Homepage: http://symless.com/synergy/
Build-Depends: cmake, debhelper (>=9), docbook, docbook-utils, libavahi-compat-libdnssd-dev, libqt4-dev, libssl-dev, libxinerama-dev, libxrandr-dev, libxtst-dev, libcurl4-gnutls-dev | libcurl-dev, google-mock, libgtest-dev
Standards-Version: 3.9.8

Package: synergy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl
Description: Share mouse, keyboard and clipboard over the network
 Synergy lets you easily share a single mouse and keyboard between
 multiple computers with different operating systems, each with its
 own display, without special hardware.  It's intended for users
 with multiple computers on their desk since each system uses its
 own display.
 .
 Redirecting the mouse and keyboard is as simple as moving the mouse
 off the edge of your screen.  Synergy also merges the clipboards of
 all the systems into one, allowing cut-and-paste between systems.
 Furthermore, it synchronizes screen savers so they all start and stop
 together and, if screen locking is enabled, only one screen requires
 a password to unlock them all.
 .
 Synergy binaries are available as paid downloads at 
 http://symless.com/synergy/ or may be built from source found
 at https://github.com/symless/synergy


Package: synergy-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    synergy (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for synergy
 Synergy lets you easily share a single mouse and keyboard between
 multiple computers with different operating systems, each with its
 own display, without special hardware.  It's intended for users
 with multiple computers on their desk since each system uses its
 own display.
 .
 This package contains the debugging symbols for synergy.
